
.name-input, .address-input, .age-input, .email-input {
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 4px;
}

label {
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
  color: #084C3F;
}

.submit {
  margin-top: 10%;
  height: 30px;
  width: 75px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #008060;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}