.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  background-color: #FCF7ED;
}

.app-title {
  margin-left: 35%;
}

.cart-img {
  height: 25px;
  width: 25px;
}

.cart {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin-top: 1%;
}

.shopping-cart {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #008060;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}